-
    var header = '#recent clients'
    var clientList = [
        `${baseUrl}/asset/image/client/Webp.net-resizeimage(1).png`,
        `${baseUrl}/asset/image/client/Webp.net-resizeimage(2).png`,
        `${baseUrl}/asset/image/client/Webp.net-resizeimage(3).png`,
        `${baseUrl}/asset/image/client/Webp.net-resizeimage(4).png`,
        `${baseUrl}/asset/image/client/client.png`
    ];

#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client__image