//- data comes here
-
    var header = 'About me'
    var imagePath = "asset/image/DSC_2753.jpg"
    var muFullName = "Tandara Elena"
    var myTitle = "Junior Web Developer"
    var slogan = `The best way to succeed is to learn for yourself and be happy to discover small things.`
    var achievement = {
        title: 'Achievement',
        content: `I update myself everyday, to be better, to be creative, to be on top.`
    }

    var coolStuff = {
        title: "Grab cool stuff",
        buttonList: [
            {
                url: 'https://github.com/tandaraelena/my-cv',
                icon: 'github',
                label: `Click to visit the Github project source`
            }
            ,{
                url: "asset/doc/cv.docx",
                icon: 'file-word',
                label: `Click to download my CV word version`
            }
        ]
    }
//- the view comes here
#about-me
.about-me
    .about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__avatar(src=imagePath)
    .about-me__full-name=myFullName
    .about-me__title=myTitle
    .about-me__slogan=slogan

    .about-me__title=achievement.title
    .about-me__content=achievement.content

    .about-me__title=coolStuff.title
    .about-me__link-list
        each button in coolStuff.buttonList
            a.about-me__link(href=button.url)
                span.about-me__link-description=button.label
                span(class=`my-cv__icon--${button.icon}`)